<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566699596355-dkfiss61dbfbaohohsq22p2j01jj2qpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566699596355-dkfiss61dbfbaohohsq22p2j01jj2qpq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566699596355-1fe00pa31943fgmeqcqf533lurnms85n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5wbAaT0Blxrx0PPDQu8MFbbZn0mDqc9I</string>
	<key>GCM_SENDER_ID</key>
	<string>566699596355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiwi.app.daycare.kiwi-app-parent</string>
	<key>PROJECT_ID</key>
	<string>kiwi-app-parent</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwi-app-parent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566699596355:ios:d43e413b3837552be852f6</string>
</dict>
</plist>